<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Frontend Mentor | E-commerce product page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <div class="wrapper" id="app">
    <header class="header">

      <button><img src="./icons/icon-menu.svg" alt=""></button>
      <a href="#"><img src="./images/logo.svg" alt=""></a>
      <nav class="navigation">
        <button><img src="./icons/icon-close.svg" alt=""></button>
        <ul class="menu">
          <li><a href="">Collections</a></li>
          <li><a href="">Men</a></li>
          <li><a href="">Women</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <button v-on:click="showCart = !showCart">
        <img src="./icons/icon-cart.svg" alt="">
        <div class="pill">{{ cartItems }}</div>
      </button>
      <a href="#">
        <img src="./images/image-avatar.png" width="50" height="50" alt="">
      </a>
    </header>



    <main class="main">
      <Transition>
        <div v-show="showCart" class="cart">
          <div class="cart-title">Cart</div>
          <div class="cart-content">

            <div v-if="cartItems > 0">
              <div class="cart-product">
                <img class="cart-thumbnail" src="./images/image-product-1-thumbnail.jpg" alt="" width="50" height="50">
                <div class="cart-item">
                  <span>{{ productName }}</span><br>
                  <span>{{ discountPriceString }} x {{ cartItems }}</span> <strong> {{ calculateTotal
                    }}</strong>
                </div>
                <button v-on:click="removeFromCart" class="cart-delete">
                  <img src="./icons/icon-delete.svg" alt="">
                </button>
              </div>
              <button class="submit">Checkout</button>
            </div>
            <div v-else class="cart-empty">
              <div>Your cart is empty.</div>
            </div>

          </div>
        </div>
      </Transition>



      <div class="product-gallery">
        <img class="product-image" v-bind:src="image" alt="">

        <div class="product-thumbnails">
          <img v-for="image in gallery" :key="image.id" v-bind:src="image.thumb" v-on:click="updateImage(image.src)"
            alt="">
        </div>
      </div>


      <div class="product-data">

        <h2 class="product-brand">Sneaker Company</h2>
        <h1 class="product-name">{{ productName }}</h1>
        <p>These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole,
          they’ll
          withstand everything the weather can offer.</p>

        <div class="product-price">
          <span class="price-with-discount">{{ discountPriceString }}</span>
          <span class="discount">{{ discountString }}</span>
        </div>
        <s class="price-full">{{ priceFullString }}</s>

        <div class="submit-form">
          <fieldset class="quantity-selector">
            <button v-on:click="decreaseQuantity"><img src="./icons/icon-minus.svg" alt=""></button>
            <input class="quatity-input" type="tel" size="3" v-bind:value="quantity">
            <button v-on:click="increaseQuantity"><img src="./icons/icon-plus.svg" alt=""></button>
          </fieldset>

          <button v-on:click="addToCart" class="submit"><img src="./icons/icon-cart.svg" alt=""> Add to cart</button>
        </div>

        <div>Quantity: {{ quantity }}; Cart: {{ cartItems }}</div>


      </div>

    </main>
  </div>
  <script src="./app.js"></script>
</body>

</html>